* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  color: #FF914D;
}


/* Main Content Start */

.main-content {
  left: 0px;
  top: 100px;
}

/* Main Content End */

/* Header Navigation Bar Start */

.header {
  background-color: white;
  height: 80px;
  width: 100%;
  padding: 10px;
  display: flex;
}

.header #logo-header {
  margin: 20px
}

.header .nav-btn {
  margin: 10px;
  padding: 10px;
}

/* Header Navigation Bar End */

/* About Page Start */

#about-us {
  padding: 50px 100px;
  font-size: 24px;
  font-weight: 300;
}

#about-us-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

.about-paragraph {
  margin: 5%;
}

/* About Page End */






/* MOBILE FIRST */

@media (max-width: 1024px ) {
  body {
    background: green;
  }
}

@media (max-width: 360px) {
  body {
    background: pink;
  }
}