.auth-toggle-container {
  text-align: center;
}

.auth-toggle-container>button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  font-size: 2rem;
  background-color: transparent;
  border:none;
}