@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-screen {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

.footer {
  background-color: #2A2E38;
}

.nav-btn {
  font-weight: 300;
  color: black;
}

.nav-btn:hover {
  color: '#F28F38';
}

.btn-screening:hover {
  color: black;
}

.bg-image {
  background-image: url('img/pexels-andrea-piacquadio-3799664.png');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
}

.bg-image h2, .bg-image h5 {
  width: fit-content;
}

.bg-image h2 {
  white-space: nowrap;
}

.facts {
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  font-size: 1rem;
}

.lp-trust-content {
  padding-left: 20%;
  padding-right: 20%;
}

.about-page {
  margin-left: 15%;
  margin-right: 15%;
}

.accordian-toggle:hover {
  background-color: #D9583B;
  color: #F2F2F2;
  font-weight: 500;
}

#progress {
  list-style-type: none;
  clear: both;
}

#progress li {
  float: left;
  position: relative;
  width: 32%;
  margin: 0 1px;
}

#progress li:before {
  content: '';
  border-left: 20px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

#progress li:after {
  content: '';
  border-left: 20px solid #f2f2f2;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

#progress li.arrow-active {
  background: #F28F38;
}

#progress li.arrow-active:after {
  border-left-color: #F28F38;
}

#screening-progress-web {
  display: block;
}

#screening-progress-mobile {
  display: none;
}

.breadcrumbs {
  font-size: 1em;
}

.screening-btn-hear {
  width: 100px;
}

#screening-instructions p {
  font-size: 12pt;
}

.img-responsive {
  width: auto;
  height: 100px;
}

.sound-selection-expanded {
  display: contents;
}

.sound-selection-dropdown {
  display: none;
}

.footer-mobile {
  display: none;
}

.footer-mobile i {
  font-size: x-large;
}

.footer-web {
  display: block;
}

@media (max-width: 770px) {
  .img-responsive {
    height: 75px;
  }
}

@media (max-width: 720px) {
  .lp-trust-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 575px) {
  #screening-progress-web {
    display: none;
  }

  #screening-progress-mobile {
    display: block;
  }

  .breadcrumbs {
    display: none;
  }

  .sound-selection-expanded {
    display: none;
  }

  .sound-selection-dropdown {
    display: contents;
  }

  .footer-mobile {
    display: block;
  }
  
  .footer-web {
    display: none;
  }
}

@media (max-width: 450px) {
  .bg-image {
    background-image: none;
    background-color: #62CDD9;
    height: 100vh;
  }

  .lp-trust-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-page {
    margin-left: 30px;
    margin-right: 30px;
  }

  .bg-image h2 {
    white-space: normal;
  }

  .instruction-icon {
    display: none;
  }
}

@media (max-width:360px) {
  .screening-btn-hear {
    width: 75px;
  }
}